.centered   
  {
    text-align: center;
  }

h2 
{
  text-align:center;
}

.aList
{
  text-align:left; 
  list-style-position: inside;
}

.aListElement
{
  text-align:center; 
  list-style-position: inside;
  list-style-type: none;  
}

.circularImage
{
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

body
{
  background-image:url("bodyBack.jpg");
}

.jumbotron
{
  opacity: 0.3;
  background-color: transparent;
}

#nameH
{
  font-weight: bold;
}

.boldFont
{
  font-weight: bold;
}
